<h1>welcome to the prose/verse</h2>
<h4>Create an account</h5>
<%= form_for @user do |f| %>
  Username: <%= f.text_field :username, placeholder: "Username" %>
  Password: <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Sign up!" %>
<% end %>
